@{
    ViewData["Title"] = "Create Employee";
}

<h2>Create Employee</h2>

<form id="createEmployeeForm">
    <div>
        <label>First Name</label>
        <input type="text" id="firstName" name="firstName" required />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" id="lastName" name="lastName" required />
    </div>
    <div>
        <label>Username</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div hidden>
        <label>Password</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label>Email</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label>Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required />
    </div>
    <div>
        <label>Position</label>
        <input type="text" id="position" name="position" />
    </div>
    <div>
        <label>Department</label>
        <input type="text" id="department" name="department" />
    </div>
    <div>
        <label>Salary</label>
        <input type="number" step="0.01" id="salary" name="salary" />
    </div>
    <button type="submit">Create</button>
</form>

<script>
    document.getElementById('createEmployeeForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const employee = {
            firstName: document.getElementById('firstName').value,
            lastName: document.getElementById('lastName').value,
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
            email: document.getElementById('email').value,
            phoneNumber: document.getElementById('phoneNumber').value,
            position: document.getElementById('position').value,
            department: document.getElementById('department').value,
            salary: parseFloat(document.getElementById('salary').value) || null
        };

        fetch('https://localhost:7092/api/employee', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(employee)
        })
            .then(response => response.ok ? alert('Employee created successfully.') : alert('Error creating employee.'))
            .then(() => window.location.href = '/Employees')
            .catch(error => console.error('Error creating employee:', error));
    });
</script>
