<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/client/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>
